---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true

- name: Install hotspot packages
  ansible.builtin.apt:
    name:
      - hostapd
      - dnsmasq
      - network-manager
      - python3-venv
      - redis-server
    state: present

- name: Deploy hostapd configuration
  ansible.builtin.template:
    src: "{{ playbook_dir }}/../../../../infrastructure/templates/hostapd.conf.j2"
    dest: /etc/hostapd/hostapd.conf
    owner: root
    group: root
    mode: "0644"

- name: Deploy dnsmasq configuration
  ansible.builtin.template:
    src: "{{ playbook_dir }}/../../../../infrastructure/templates/dnsmasq.conf.j2"
    dest: /etc/dnsmasq.d/hotspot.conf
    owner: root
    group: root
    mode: "0644"

- name: Enable and start services
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
    state: started
  loop:
    - hostapd
    - dnsmasq
    - redis-server

