[Unit]
Description=Meeting Hotspot Frontend
After=network.target

[Service]
WorkingDirectory={{ frontend_repo_dir }}
ExecStart=/usr/bin/npx serve -s dist -l 3000
Restart=on-failure
RestartSec=5
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

